<div data-vue="mailing-list-form">
    <mailing-list-form inline-template>
        <div class="{{ class ?? '' }} p-6 md:p-12 bg-blue-lightest rounded-lg shadow-3xl">
            <div class="relative">
                <div v-if="success" class="absolute pin z-10 flex items-center justify-center bg-blue-lightest">
                    {# @todo: add to cms #}
                    <div class="text-center">
                        <p class="mb-2 text-5xl">👍</p>
                        <p class="text-xl">Thanks for joining our mailing list. Please check your email for a confirmation link.</p>
                    </div>
                </div>

                <div class="wysiwyg mb-8">
                    {{ mailingList.mailingListCtaMessage }}
                </div>

                <form v-on:submit.prevent="subscribe">
                    <div class="flex flex-wrap -mx-2 -mb-2">
                        <div class="w-full md:w-auto mb-2 px-2 md:flex-1">
                            <input class="form-control" type="email" name="email" v-model="form.email" placeholder="{{ 'Enter your email address'|t }}" required>
                        </div>

                        <div class="w-full md:w-auto mb-2 px-2 md:flex-1">
                            <select class="form-control" v-model="form.relationship" :class="{ 'placeholder': !form.relationship }" required>
                                <option value="" disabled selected>How do you know KiSS?</option>
                                {% for item in mailingList.relationshipToKiss %}
                                    <option>{{ item.relationship }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="w-full md:w-auto mb-2 px-2">
                            <button class="block w-full md:inline-block md:w-auto btn bg-blue-lighter hover:bg-blue-light rounded border border-blue-lighter hover:border-blue-light" :class="{ 'is-working': working }">
                                {{ 'Subscribe'|t }}
                            </button>
                        </div>
                    </div>

                    <p v-if="error" v-text="error" class="invalid-feedback block mb-0"></p>
                </form>
            </div>
        </div>
    </mailing-list-form>
</div>
