{%- set handle = craft.enupalStripe.labelToHandle(block) %}
{%- set required = block.required  %}
{%- set options = block.options ? block.options : [] %}

<div
        id="{{ handle }}"
        class="{{ handle }}">

    {%- for key, option in options %}

        {%- set label = (option.optionLabel is defined ? option.optionLabel : option) %}
        {%- set optionValue = (option.value is defined ? option.value : key) %}

        <div class="form-check {% if not loop.last %}mb-2{% endif %}">
            <input class="form-check-input"
                   type="radio"
                   name="metadata[{{ handle }}]"
                   id="{{ handle }}-{{ loop.index }}"
                    {%- if required %} required aria-required="true"{% endif %}
                    {%- if optionValue %} value="{{ optionValue }}"{% endif %}
                    {%- if loop.first %}checked{% endif %}
            >
            {%- if label %}<label class="form-check-label" for="{{ handle }}-{{ loop.index }}">{{ label|raw }}</label>{% endif -%}
        </div>
        
    {% endfor %}
</div>
