{% set typeTitle = type == 'address' ? 'Shipping Address'|t : 'Billing Address'|t  %}
{% set autocompleteAddressType = type == 'address' ? 'shipping' : 'billing' %}
{% set countries = craft.enupalstripe.allCountriesAsList() %}

<div class="mb-4">
    <label for="{{ type }}Name-{{ paymentForm.id }}">{{ "Name"|t }} *</label>
    <input class="form-control" id="{{ type }}Name-{{ paymentForm.id }}" name="{{ type }}[name]" autocomplete="{{ autocompleteAddressType }} name" required>
</div>

<div class="mb-4">
    <label for="{{ type }}Line1-{{ paymentForm.id }}">{{ typeTitle }} *</label>
    <input class="form-control" id="{{ type }}Line1-{{ paymentForm.id }}" type="text" name="{{ type }}[line1]" autocomplete="{{ autocompleteAddressType }} street-address" required>
</div>

<div class="mb-4">
    <label for="{{ type }}City-{{ paymentForm.id }}">{{ "City"|t }} *</label>
    <input class="form-control" id="{{ type }}City-{{ paymentForm.id }}" type="text" name="{{ type }}[city]" autocomplete="{{ autocompleteAddressType }} address-level2" required>
</div>

<div class="mb-4">
    <label for="{{ type }}State-{{ paymentForm.id }}">{{ "State"|t }} *</label>
    <input class="form-control" id="{{ type }}State-{{ paymentForm.id }}" type="text" name="{{ type }}[state]" autocomplete="{{ autocompleteAddressType }} address-level1" required>
</div>

<div class="mb-4">
    <label for="{{ type }}Zip-{{ paymentForm.id }}">{{ "Zip"|t }} *</label>
    <input class="form-control" id="{{ type }}Zip-{{ paymentForm.id }}" type="text" name="{{ type }}[zip]" autocomplete="{{ autocompleteAddressType }} postal-code" required>
</div>

<div class="mb-4">
    <label for="{{ type }}Country-{{ paymentForm.id }}">{{ "Country"|t }}</label>
    <select class="form-control" id="{{ type }}Country-{{ paymentForm.id }}" type="text" name="{{ type }}[country]" autocomplete="{{ autocompleteAddressType }} country" required>
        {% for key, option in countries %}
            {% set defaultCountry = 'GB' %}
            <option value="{{ key }}" {% if key == defaultCountry %} selected{% endif %}>{{ option }}</option>
        {% endfor %}
    </select>
</div>
